{% extends "blog_base.html" %}

{% block head_title %}News &raquo; {{ block.super }}{% endblock %}

{% block content %}
    <h1>News</h1>
    {% if post_list %}
    <div class="post-list">
        {% for post in post_list %}
            <div class="post">
                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                {% include "dateline.html" %}
                <div class="content">{{ post.content_html|safe }}</div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="alert alert-info lead">No posts have been published.</p>
    {% endif %}
{% endblock %}
