{% extends "blog_base.html" %}

{% block head_title %}{{ post.title }} &raquo; {{ block.super }}{% endblock %}

{% block extra_head %}
    <meta name="description" content="{{ post.teaser_html|striptags }}">
    <meta name="og:title" content="{{ post.title }}">
    <meta name="og:description" content="{{ post.teaser_html|striptags }}">
{% endblock %}

{% block content %}
    <div class="post-detail">
        <div class="post">
            <h1>{{ post.title }}</h1>
            {% include "dateline_stale.html" %}

            <!--
            <div class="teaser">{{ post.teaser_html|safe }}</div>
            !-->

            <div class="content">{{ post.content_html|safe }}</div>

        </div>
    </div>
{% endblock %}
